streamlit
langchain
langchain-community
langchain-google-genai
langchain_openai
langchain-chroma
langchain-huggingface
sentence-transformers
chromadb
pandas
pypdf
python-dotenv
tiktoken
google-generativeai
langgraph
openpyxl
